home-container
{
  display: block;
  width:100%;
  height:100%;
  
  
}
list-view{
  display: inline-block;
  width:100%;
  height:100%;
  position: relative;
  
}
img-card{
  position: relative;
  display: inline-block;
  width: 300px;
  height:300px;
  
  background-size: 300px 300px;
  background-repeat: no-repeat;
  padding: 10px;
  margin: 5px;
}
html,body{
	width:100%;
  height:100%;
  
}
.title_hover:hover{
  transform:scale(1.1);
}
.title_hover span{
  
  font-family: century gothic;
  font-weight: bolder;
  visibility: visible !important;
  position: relative;
  top: 140px;
  font-size: 1em;
  color: #fff;
  word-break: break-all;
  white-space: normal;
  
  
  

}
a.img{
  background-image: url('../img/pbutton3.svg') ;
  width: 140px;
  height: 100px;
  display: table;
  position: relative;
  top: -12px;
  left: -40px;
}
